// Required Parameters
params.reads = "/scratch/tn2220/Mitonuclear/*_n0{1,2}_*.fastq.gz"
params.ref = "/scratch/tn2220/Mitonuclear/REF/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa"
params.outdir = "/scratch/tn2220/Mitonuclear/gatk4"
params.snpeff_db = "Caenorhabditis_elegans"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "000000000-GRPV5"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.hc_config = ""

// JBrowse params
params.do_jbrowse = false
params.gff = "/scratch/tn2220/Mitonuclear/REF/Caenorhabditis_elegans.WBcel235.88.gff3"
params.jbrowse_pi = "pi_name"
params.dataset_name = "dataset-name"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// slurm and resource allocation
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = 10
    memory = { 8.GB * task.attempt }
    time = { 60.min * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
    withName: markDuplicatesSpark { memory = '32 GB' }
}
